#home
  .page-section
    max-width: 750px
    width: 100%
    margin-right: auto
    margin-left: auto

  .animal-photos
    padding: $whitespace / 2 0
    margin-bottom: $whitespace / 2
    text-align: center

    img
      display: inline-block
      width: 160px
      height: 160px
      margin: 0 16px

      border-width: 16px
      border-style: solid
      border-radius: 100%

      &.predator
        border-color: rgba($pack-color, $opacity)

      &.prey
        border-color: rgba($herd-color, $opacity)

      &.invasive
        border-color: rgba($colony-color, $opacity)

      @media (max-width: $mobile-breakpoint-large)
        width: 120px
        height: 120px

        border-width: 12px

  .simulation-svg
    width: 75%
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: -$whitespace / 2

    @media (max-width: 600px)
      width: 100%

  form
    font-size: $base-font-size - 2

    @media (max-width: $mobile-breakpoint-large)
      font-size: $base-font-size - 4

    .hidden
      display: none

    label
      display: inline-block
      padding: $bubble-padding 12px $bubble-padding 0

    button
      margin-top: 10px


  .attribution
    font-size: $base-font-size - 4

    @media (max-width: $mobile-breakpoint-large)
      font-size: $base-font-size - 6
