body
  background: $site-background
  padding: $whitespace

  @media (max-width: $mobile-breakpoint-large)
    padding: $whitespace / 2

  @media (max-width: $mobile-breakpoint-small)
    padding: $whitespace / 4


.page-section, p
  @include clearfix

  &:last-child
    margin-bottom: 0


.page-section
  margin-bottom: $whitespace * 1.5


p
  margin-bottom: $whitespace / 2
