/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

body {
  color: #444;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 18px; }
  body h1 {
    font-size: 32px; }
  body h2 {
    font-size: 30px; }
  body h3 {
    font-size: 28px; }
  body h4 {
    font-size: 24px; }
  @media (max-width: 600px) {
    body {
      font-size: 16px; }
      body h1 {
        font-size: 30px; }
      body h2 {
        font-size: 28px; }
      body h3 {
        font-size: 26px; }
      body h4 {
        font-size: 22px; } }
  @media (max-width: 330px) {
    body {
      font-size: 15px; }
      body h1 {
        font-size: 29px; }
      body h2 {
        font-size: 27px; }
      body h3 {
        font-size: 25px; }
      body h4 {
        font-size: 21px; } }

h1, h2, h3, h4 {
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #555; }

a {
  color: #908459;
  text-decoration: none; }
  a:hover {
    color: #bcb393; }

em {
  font-style: italic; }

form button, form input, form select {
  padding: 6px;
  border: none;
  border-radius: 3px;
  font-size: 14px; }
  @media (max-width: 600px) {
    form button, form input, form select {
      font-size: 12px; } }
form input, form select {
  background: #f8f8f8;
  border: 1px solid #ddd; }
form button {
  background: #908459;
  color: #eee; }
  form button:hover {
    background: #bcb393;
    cursor: pointer; }

body {
  background: #eee;
  padding: 40px; }
  @media (max-width: 600px) {
    body {
      padding: 20px; } }
  @media (max-width: 330px) {
    body {
      padding: 10px; } }

.page-section:after, p:after {
  content: "";
  display: table;
  clear: both; }
.page-section:last-child, p:last-child {
  margin-bottom: 0; }

.page-section {
  margin-bottom: 60px; }

p {
  margin-bottom: 20px; }

.simulation-svg circle {
  opacity: 0.5; }
.simulation-svg .HERD {
  fill: #008800; }
.simulation-svg .PACK {
  fill: #FF0000; }
.simulation-svg .COLONY {
  fill: #0000FF; }
.simulation-svg .circle-text {
  font-size: 10px;
  text-anchor: middle;
  alignment-baseline: middle; }
.simulation-svg .stage {
  fill: #bbb;
  opacity: 0.5; }
.simulation-svg .stage-text {
  fill: #999; }
.simulation-svg .stage-text {
  font-size: 19px;
  letter-spacing: 1px; }

#simulation {
  padding: 0; }
  #simulation .simulation-svg {
    width: 100%;
    display: block; }
  #simulation #stats {
    display: none; }
    #simulation #stats .home-nav, #simulation #stats .counters {
      position: absolute;
      top: 5px;
      padding: 6px;
      border-radius: 3px;
      background: #ddd;
      opacity: 0.9;
      font-size: 12px; }
    #simulation #stats .home-nav {
      left: 5px; }
    #simulation #stats .counters {
      right: 5px; }
      #simulation #stats .counters span {
        float: left;
        clear: both; }
      #simulation #stats .counters #trial-counter {
        display: none; }

#home .page-title {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 60px; }
  #home .page-title h1, #home .page-title h4 {
    padding-left: 100px; }
  #home .page-title #logo-svg {
    position: absolute;
    top: 5px;
    left: 0;
    width: 80px;
    height: 80px; }
  @media (max-width: 450px) {
    #home .page-title {
      text-align: center; }
      #home .page-title h1, #home .page-title h4 {
        padding-left: 0; }
      #home .page-title #logo-svg {
        position: static;
        margin-top: 20px; } }
#home h2 {
  margin-bottom: 20px; }
#home .page-section {
  max-width: 750px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
#home .animal-photos {
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center; }
  #home .animal-photos img {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 16px;
    border-width: 16px;
    border-style: solid;
    border-radius: 100%; }
    #home .animal-photos img.predator {
      border-color: rgba(255, 0, 0, 0.5); }
    #home .animal-photos img.prey {
      border-color: rgba(0, 136, 0, 0.5); }
    #home .animal-photos img.invasive {
      border-color: rgba(0, 0, 255, 0.5); }
    @media (max-width: 600px) {
      #home .animal-photos img {
        width: 120px;
        height: 120px;
        border-width: 12px; } }
#home #simulation-svg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px; }
  @media (max-width: 600px) {
    #home #simulation-svg {
      width: 100%; } }
#home form {
  font-size: 16px; }
  @media (max-width: 600px) {
    #home form {
      font-size: 14px; } }
  #home form .hidden {
    display: none; }
  #home form label {
    display: inline-block;
    padding: 6px 12px 6px 0; }
  #home form button {
    margin-top: 10px; }
#home .attribution {
  font-size: 14px; }
  @media (max-width: 600px) {
    #home .attribution {
      font-size: 12px; } }
