# Project-specific Node.js packages (e.g. gulp)
node_modules/
lotkavolterra/static/json


# Input
*.csv
*.xls


# Local or private settings
instance/


# Compiled and temporary files
*.pyc
*.swp
.sass-cache/
*DS_Store
