@mixin bulleted-list
  list-style-position: inside
  list-style-type: disc


@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both


table
  thead
    font-variant: small-caps

  td, th
    border: 1px solid #ddd
    padding: 4px 6px


.three-columns
  .column
    float: left
    width: 30%
    margin-right: 5%

    &:last-child
      margin-right: 0
