#home
  background: #eee

  .page-section
    max-width: 750px
    margin-right: auto
    margin-left: auto

  .animal-photos
    margin-bottom: $whitespace / 2

  .example-simulation
    svg
      display: block
      margin-left: auto
      margin-right: auto
      margin-top: -$whitespace / 2

  .animal-photos
    text-align: center

    img
      display: inline-block
      width: 170px
      height: 170px
      margin: 0 12px

      border-width: 17px
      border-style: solid
      border-radius: 100%

      &.predator
        border-color: rgba($pack-color, $opacity)

      &.prey
        border-color: rgba($herd-color, $opacity)

      &.invasive
        border-color: rgba($colony-color, $opacity)
