body
  padding: $whitespace


#site-title
  margin-bottom: $whitespace


.page-title
  margin-bottom: $whitespace / 2


.page-subtitle
  margin-bottom: $whitespace / 4


.page-section
  margin-bottom: $whitespace


.page-subsection
  margin-bottom: $whitespace / 2


p
  margin-bottom: $whitespace / 2


.page-section, .page-subsection, p
  @include clearfix

  &:last-child
    margin-bottom: 0
