body
  padding: $whitespace
  background: #eee


.page-section, p
  @include clearfix

  &:last-child
    margin-bottom: 0


.page-section
  margin-bottom: $whitespace * 1.5


.page-title, p
  margin-bottom: $whitespace / 2
