.simulation
  circle
    opacity: $opacity

  .HERD
    fill: $herd-color

  .PACK
    fill: $pack-color

  .COLONY
    fill: $colony-color

  .circle-text
    font-size: 10px
    text-anchor: middle
    alignment-baseline: middle

  .stage
    fill: #bbb
    opacity: $opacity

  .stage-text
    fill: #999
    font-size: 15px


#run-simulation
  padding: 0
  background: #eee

  .simulation
    width: 100%

  .home-nav, .counters
    position: absolute
    top: 10px
    font-size: 13px

  .home-nav
    left: 10px

  .counters
    right: 10px
