#test-simulation
  .forms
    font-size: $base-font-size - 4

    input
      width: 50px

  .three-columns
    .blue
      background: lighten(blue, 30%)

    .red
      background: lighten(red, 25%)

    .green
      background: #95a451

    .generations
      padding-top: $whitespace * 2
