/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

body {
  color: #444;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px; }

h1, h2, h3, h4 {
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #555; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

a {
  color: #908459;
  text-decoration: none; }
  a:hover {
    color: #bcb393; }

table td {
  padding-right: 12px;
  padding-bottom: 6px; }

form {
  font-size: 16px; }
  form button, form input, form select {
    padding: 6px;
    border: none;
    border-radius: 3px;
    font-size: 14px; }
  form input, form select {
    background: #f8f8f8;
    border: 1px solid #ddd; }
  form button {
    background: #908459;
    color: #eee; }
    form button:hover {
      background: #bcb393;
      cursor: pointer; }

.three-columns .column {
  float: left;
  width: 30%;
  margin-right: 5%; }
  .three-columns .column:last-child {
    margin-right: 0; }

body {
  padding: 40px;
  background: #eee; }

.page-section:after, p:after {
  content: "";
  display: table;
  clear: both; }
.page-section:last-child, p:last-child {
  margin-bottom: 0; }

.page-section {
  margin-bottom: 60px; }

.page-title, p {
  margin-bottom: 20px; }

.simulation circle {
  opacity: 0.5; }
.simulation .HERD {
  fill: #008800; }
.simulation .PACK {
  fill: #FF0000; }
.simulation .COLONY {
  fill: #0000FF; }
.simulation .circle-text {
  font-size: 10px;
  text-anchor: middle;
  alignment-baseline: middle; }
.simulation .stage {
  fill: #bbb;
  opacity: 0.5; }
.simulation .stage-text {
  fill: #999;
  font-size: 15px; }

#run-simulation {
  padding: 0;
  background: #eee; }
  #run-simulation .simulation {
    width: 100%; }
  #run-simulation .home-nav, #run-simulation .counters {
    position: absolute;
    top: 10px;
    font-size: 13px; }
  #run-simulation .home-nav {
    left: 10px; }
  #run-simulation .counters {
    right: 10px; }

#home .page-section {
  max-width: 750px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
#home .animal-photos {
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center; }
  #home .animal-photos img {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 16px;
    border-width: 16px;
    border-style: solid;
    border-radius: 100%; }
    #home .animal-photos img.predator {
      border-color: rgba(255, 0, 0, 0.5); }
    #home .animal-photos img.prey {
      border-color: rgba(0, 136, 0, 0.5); }
    #home .animal-photos img.invasive {
      border-color: rgba(0, 0, 255, 0.5); }
#home .example-simulation .simulation {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px; }
  @media (max-width: 600px) {
    #home .example-simulation .simulation {
      width: 100%; } }
#home form button {
  margin-top: 10px; }
#home .attribution {
  font-size: 14px; }
