/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

body {
  color: #444;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px; }

h1, h2, h3, h4 {
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #555; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

a {
  color: #86b75c;
  text-decoration: none; }
  a:hover {
    color: #b9af8e; }

table thead {
  font-variant: small-caps; }
table td, table th {
  border: 1px solid #ddd;
  padding: 4px 6px; }

.three-columns .column {
  float: left;
  width: 30%;
  margin-right: 5%; }
  .three-columns .column:last-child {
    margin-right: 0; }

body {
  padding: 40px; }

#site-title {
  margin-bottom: 40px; }

.page-title {
  margin-bottom: 20px; }

.page-subtitle {
  margin-bottom: 10px; }

.page-section {
  margin-bottom: 40px; }

.page-subsection {
  margin-bottom: 20px; }

p {
  margin-bottom: 20px; }

.page-section:after, .page-subsection:after, p:after {
  content: "";
  display: table;
  clear: both; }
.page-section:last-child, .page-subsection:last-child, p:last-child {
  margin-bottom: 0; }

#home {
  background: #eee; }
  #home .page-section {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto; }
  #home .animal-photos {
    margin-bottom: 20px; }
  #home .example-simulation svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px; }
  #home .animal-photos {
    text-align: center; }
    #home .animal-photos img {
      display: inline-block;
      width: 170px;
      height: 170px;
      margin: 0 12px;
      border-width: 17px;
      border-style: solid;
      border-radius: 100%; }
      #home .animal-photos img.predator {
        border-color: rgba(255, 0, 0, 0.5); }
      #home .animal-photos img.prey {
        border-color: rgba(0, 136, 0, 0.5); }
      #home .animal-photos img.invasive {
        border-color: rgba(0, 0, 255, 0.5); }

#simulation, #test-simulation {
  padding: 0;
  background: #eee; }
