// Master stylesheet

@import reset
html
  box-sizing: border-box

$whitespace: 40px
$opacity: 0.5
$herd-color: #008800
$pack-color: #FF0000
$colony-color: #0000FF

@import font
@import elements
@import page
@import home
@import simulation
