// Master stylesheet

@import reset
html
  box-sizing: border-box

$whitespace: 40px

$base-font-size: 18px
$base-font-color: #444

$site-background: #eee

$header-color: #555
$brown: #908459
$purple: #800080

$opacity: 0.5
$herd-color: #008800
$pack-color: #FF0000
$colony-color: #0000FF

$mobile-breakpoint-large: 600px
$mobile-breakpoint-small: 330px


@import font
@import elements
@import page
@import simulation
@import home
