{% extends 'base.html' %}

{% block page_title %}Test Simulation: {{ simulation }}{% endblock %}

{% block content %}

<div class="three-columns">
  <div class="column">
    <h3 class="page-subtitle">Initial state</h3>

    {% with show_initial = True %}
    {% include 'table_snapshot.html' %}
    {% endwith %}
  </div>

  <div class="column">
    ... after {{ num_generations }} generations ...
  </div>

  <div class="column">
    <h3 class="page-subtitle">Final state</h3>

    {% include 'table_snapshot.html' %}
  </div>
</div>

{% endblock %}
