{% extends 'base.html' %}

{% block content %}

<h1>Test Simulation: {{ simulation }}</h1>

<ul>
  {% for simulation in simulations %}
  <li>
    <a href="{{ url_for('test_simulation', name=simulation) }}">
      {{ simulation }}</a>
  </li>
  {% endfor %}
</ul>

<h3>Initial state</h3>

{% with show_initial = True %}
{% include 'table_snapshot.html' %}
{% endwith %}

<h3>... after {{ num_generations }} generations ...</h3>

<h3>Final state</h3>

{% include 'table_snapshot.html' %}

{% endblock %}
