<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head_extras %}{% endblock %}

    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}"
      rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static', filename='js/app.bundle.js') }}"
      charset="utf-8"></script>

    <title>
      {% block head_title_prefix %}{% endblock %}
      Lotka-Volterra Project
    </title>
  </head>


  <body id="{% block body_id %}{% endblock %}">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
