{% extends 'base.html' %}


{% block body_id %}d3-test-simulation{% endblock %}
{% block page_title %}Test Simulation: {{ simulation_name }}{% endblock %}


{% block content %}

<div class="page-section forms">
  <form method="GET" action="">
    Number of seats:
    <input name="num_seats" value="{{ num_seats }}"></input>

    Number of generations:
    <input name="num_generations" value="{{ num_generations }}"></input>

    Initial population size:
    <input name="population_size" value="{{ population_size }}"></input>

    <button type="submit">Submit</button>
  </form>
</div>

<script charset="utf-8">
  var initial = {{ initial_state|safe }};

  var changes = {{ states|safe }};

  createSVG(1200, 600);

  drawTable(300, 300, 200, initial.seats);
</script>

{% endblock %}
