{% extends 'base_title.html' %}

{% block content %}

<div class="page-section">
  <h4>View simulations</h4>

  <ul>
    <li>
      <a href="{{ url_for('list_simulations') }}">
        Input based simulations</a>
    </li>

    <li>
      <a href="{{ url_for('list_test_simulations') }}">
        Test case simulations</a>
    </li>
  <ul>
</div>

<div class="page-section">
  <h4>D3 Demos</h4>

  <ul>
    <li>
      <a href="{{ url_for('d3_demo_random_circles') }}">
        Random Circles</a>
    </li>

    <li>
      <a href="{{ url_for('d3_demo_circles_of_circles') }}">
        Circles of Circles</a>
    </li>
  </ul>
</div>

<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
</script>

<script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://' + document.domain + ':' + location.port);

	socket.on('server hello', function() {
		console.log('Server said hello');
		setTimeout(function(){
			socket.emit('client hello');
			console.log('After 1s, I said hello');
		}, 2000);
	});

	socket.on('server hello back', function() {
		console.log('Server said hello back');
	});
</script>
{% endblock %}
