<table>
  <tr>
    <td>Simulation</td>
    <td>
      <select name="simulation">
        {% for simulation in simulations %}
          <option value="{{ simulation }}">{{ simulation }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>

  <tr>
    <td>Number of generations</td>
    <td>
      <input name="num_generations"
             value="{{ defaults.num_generations }}">
      </input>
    </td>
  </tr>

  {% if show_num_seats %}
  <tr>
    <td>Number of seats</td>
    <td>
      <input name="num_seats"
             value="{{ defaults.num_seats }}">
      </input>
    </td>
  </tr>
  {% endif %}

  <tr>
    <td>Repeat?</td>
    <td>
      <input type="checkbox" name="repeat">
      </input>
    </td>
  </tr>
</table>
