{% extends 'base.html' %}
{% block body_id %}run-simulation{% endblock %}
{% block head_title_prefix %}Simulation |{% endblock %}


{% block content %}

<a class="home-nav" href={{ url_for('home') }}>Home</a>

<div class="counters">
  <span class="trial-counter">Trial 0</span>
  <br>
  <span class="generation-counter">Generation 0</span>
</div>

<svg class="simulation"></svg>

<script type="text/javascript" charset="utf-8">
  var repeat = {% if repeat %}true{% else %}false{% endif %}

  {% if is_test%}
  lotkavolterra.launchTestSimulation({
    numGenerations: {{ num_generations }},
    repeat: repeat,
    simulation: "{{ simulation }}",
    numSeats: {{ num_seats }}
  });

  {% else %}
  lotkavolterra.launchSimulation({
    numGenerations: {{ num_generations }},
    repeat: repeat,
    jsonURL:
      "{{ url_for('static', filename='json/' ~ simulation) }}"
  });
  {% endif %}
</script>

{% endblock %}
