{% extends 'base_no_title.html' %}


{% block body_id %}run-simulation{% endblock %}
{% block page_title %}{{ simulation }}{% endblock %}


{% block content %}

<div id="svg-container" class="page-section">
  <svg width="100%"></svg>
</div>

<script type="text/javascript" charset="utf-8">
  var luncheon = createTestLuncheon({
    simulation: "{{ simulation }}",
    numSeats: {{ num_seats }},
    populationSize: {{ population_size }}
  });

  runSimulation({
    luncheon: luncheon,
    numGenerations: {{ num_generations }},
    hasStage: false
  });
</script>

{% endblock %}
