{% extends 'base.html' %}


{% block body_id %}run-simulation{% endblock %}
{% block page_title %}Run Simulation from Input File{% endblock %}


{% block content %}

<div class="page-section">
  {% include 'parameters.html' %}
</div>

<div class="page-section">
  <svg width="1200" height="1200">
    {% include 'svg_patterns.html' %}
  </svg>
</div>

<script charset="utf-8">
  var initialState = {{ initial_state|safe }};
  drawSeats(initialState);

  var changes = {{ changes|safe }};

  for (var i = 0; i < changes.length; i++) {
    updateSeats(changes[i], i);
  }
</script>

{% endblock %}
