{% extends 'base_no_title.html' %}


{% block body_id %}run-simulation{% endblock %}
{% block page_title %}{{ simulation }}{% endblock %}


{% block content %}

<div id="svg-container" class="page-section">
  <svg width="100%"></svg>
</div>

<script type="text/javascript" charset="utf-8">
	// Get JSON
	var request = new XMLHttpRequest();
	request.open(
		"GET",
		"{{ url_for('static', filename='json/' ~ simulation ~ '.json') }}",
		true
	);

	request.onload = function() {
		if (request.status >= 200 && request.status < 400) {
			// Success!
			var data = JSON.parse(request.responseText);
			var luncheon = createLuncheon({
				data: data,
				populationSize: {{ population_size }}
			});

			runSimulation({
				luncheon: luncheon,
				numGenerations: {{ num_generations }},

				{% if has_stage %}
					hasStage: true
				{% else %}
					hasStage: false
				{% endif %}
			});

		} else {
			// We reached our target server, but it returned an error
		}
	};

	request.onerror = function() {
		// There was a connection error of some sort
	};

	request.send();

</script>

{% endblock %}
