{% extends 'base.html' %}
{% block body_id %}run-testi-simulation{% endblock %}


{% block content %}

<div id="svg-container" class="page-section">
  <svg width="100%"></svg>
</div>

<script type="text/javascript" charset="utf-8">
  lotkavolterra.launchTestSimulation({
    simulation: "{{ simulation }}",
    numSeats: {{ num_seats }},
    populationSize: {{ population_size }},
    numGenerations: {{ num_generations }},
    repeat: {% if repeat %}true{% else %}false{% endif %}
  });
</script>

{% endblock %}
