{% extends 'base_no_title.html' %}


{% block body_id %}run-simulation{% endblock %}
{% block page_title %}{{ simulation }}{% endblock %}


{% block content %}

<div id="svg-container" class="page-section">
  <svg width="100%"></svg>
</div>

<script type="text/javascript" charset="utf-8">
  var params = {
    simulation: "{{ simulation }}",
    numGenerations: {{ num_generations }},
    populationSize: {{ population_size }},
    numSeats: {{ num_seats }}
  };

  runTestSimulation(params);
</script>

{% endblock %}
