{% extends 'base.html' %}


{% block body_id %}simulation{% endblock %}
{% block page_title %}{{ simulation_name }}{% endblock %}


{% block content %}

<div class="page-section">
  {% include 'parameters.html' %}
</div>

<div id="svg-container" class="page-section">
  <svg width="100%">
    {% include 'svg_patterns.html' %}
  </svg>
</div>

<script charset="utf-8">
  var maxTablesX = {{ max_tables_x }};
  var maxTablesY = {{ max_tables_y }};
  var initialState = {{ initial_state|safe }};
  var changes = {{ changes|safe }};

  drawSeats(initialState, maxTablesX, maxTablesY);

  for (var i = 0; i < changes.length; i++) {
    updateSeatRadii(changes[i], i);
  }
</script>

<div class="page-section">
  <h3>Final state</h3>

  {% for table in tables %}
    <h4>Table: {{ table.name }}</h4>

    {% include 'table_snapshot.html' %}
  {% endfor %}
</div>

{% endblock %}
