<defs>
  <pattern id="herd"
      patternUnits="userSpaceOnUse"
      width="100" height="100">
    <image
        xlink:href="https://lh3.googleusercontent.com/-19__0sPHBhQ/VMhemjntI1I/AAAAAAAAABc/5PE6nclyaA8/s319-p/Apple%2BBlush%2Btaster.jpg"
        x="0" y="0" width="100" height="100" />
  </pattern>

  <pattern id="pack"
      patternUnits="userSpaceOnUse"
      width="100" height="100">
    <image
        xlink:href="http://www.pd4pic.com/images250_/brown-rust-paper-background-vintage-retro-square.jpg"
        x="0" y="0" width="100" height="100" />
  </pattern>

  <pattern id="colony"
      patternUnits="userSpaceOnUse"
      width="100" height="100">
    <image
        xlink:href="http://images.freeimages.com/images/premium/large-thumbs/4016/40163630-seamless-polka-dot-background.jpg"
        x="0" y="0" width="100" height="100" />
  </pattern>
</defs>
